.field-name-field-uri {
  font-size: 16px;
  padding: 0px 15px;
  font-style: italic;
}

.field-name-field-resource-screenshot {
  float: left;
  padding: 15px 15px 15px 0px;
}

.field-name-field-resource-description {
  padding: 15px 0px;
}

.field-name-field-category {
  clear: both;
}
